<header class="header">
  <h1>Dance</h1>
  <h2>When you dance, your purpose is not to get a certain place on the floor.
      It's to enjoy each step along the way. - Wayne Dyer</h2>
  <nav>
    <ul class="desktop">
      <li><a (click)="scrollToSection('ballet')">Ballet</a></li>
      <li><a (click)="scrollToSection('tap')">Tap</a></li>
      <li><a (click)="scrollToSection('merengue')">Merengue</a></li>
      <li><a (click)="scrollToSection('jazz')">Jazz</a></li>
      <li><a (click)="scrollToSection('contemporary')">Contemporary</a></li>
      <li><a (click)="scrollToSection('hiphop')">Hip Hop</a></li>
    </ul>

    <ul class="mobile">
      <li><a (click)="scrollToSection('ballet')">Ballet</a></li>
      <li><a (click)="scrollToSection('tap')">Tap</a></li>
      <li><a (click)="scrollToSection('merengue')">Merengue</a></li>
    </ul>
    <ul class="mobile" style="margin-top: 20px">
      <li><a (click)="scrollToSection('jazz')">Jazz</a></li>
      <li><a (click)="scrollToSection('contemporary')">Contemporary</a></li>
      <li><a (click)="scrollToSection('hiphop')">Hip Hop</a></li>
    </ul>
  </nav>
</header>
