@import "../../../assets/styles/colors";

.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: $color_primary;
  z-index: 1000;
  padding: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 176px;
}

h1 {
  font-family: "CharmBold", serif;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
}

h2{
  font-family: "CharmRegular", serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  margin-bottom: 10px;
  text-align: center;
}

nav {
  width: 100%;
}

nav ul {
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-family: "DeliusRegular", serif;
  color: black;
}

a {
  position: relative;
  cursor: pointer;
}

a::before, a::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #FCDE70;
  transform: scaleY(0);
  transition: transform 0.5s ease;
}

a::before {
  left: -8px;
  transform-origin: center top;
}

a:hover::before {
  transform-origin: center bottom;
  transform: scaleY(1);
}

a::after {
  right: -8px;
  transform-origin: center bottom;
}

a:hover::after {
  transform-origin: center top;
  transform: scaleY(1);
}

.desktop {
  display: flex;
}

.mobile {
  display: none;
}

@media (min-width: 501px) and (max-width: 600px) {
  .header {
    height: 247px;
  }
}

@media (min-width: 601px) and (max-width: 1000px){
  .header {
    height: 207px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    height: 300px;
  }
}

@media screen and (max-width: 600px){
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
