$color_primary: #cacff9 !default;
$color_secondary: #EFF3EA !default;
$color_third: #FFFDF0 !default;
$color_forth: #FFF2C2 !default;

$color_secondary_with_opacity: rgba(80, 118, 135, 0.5) !default;;
